@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(65, 158, 240);
    --primary-color-darker: rgb(13, 49, 81);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans','sans-serif';
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.container p{
    display: grid;
}

form input {
   font-size: 24px;
   height: 50px;
   padding: 0 20px; 
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

.paragrafo-resultado, .bad{
    background: #53fc24;
    padding: 10px 20px;
}

.bad{
 background: #f22b2b;
}

form button:hover {
    background-color: var(--primary-color-darker);
}